body{
 background-color:#FDAE43;
}

#mainPageDiv{
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 100%;
 height:100%;
 margin-bottom: 24px;
}

#mainPageLeftDiv{
 margin-top: 16px;
 display: flex;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 gap:24px;
}

#Size{
 width: 50%;
 height:100%; 
} 

#mainPageRightDiv{ 
   width: 420px;
   height: 450px; 
   position: fixed;
   right: 5%;
   top: 25%;
}

@media screen and (max-width :  800px) {
#mainPageDiv{ 
 flex-direction:column;
 align-items: center;
 justify-content: center;
 margin-bottom: 24px;
 }

 #mainPageLeftDiv{
 margin-top: 16px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap:8px;
}

#mainPageRightDiv{ 
   width: 350px;
   height: 450px; 
   position:unset;
   margin-top: 16px;
}

#Size{
 width: 100%;
 height:100%; 
} 
}
   



