.MainHomeGrid{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height:100%;
  background-color:#FFEEDC;
}

.HomeGrid{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .wallpaper{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.HomeGridInner:hover {
 transform: scale(1.15);
}

.HomeGridInner{
 width: 550px;
 height:460px;
 background-color:#F8A344;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap:3px
}

.HomeGridCube{
 width: 181px;
 height: 150px;
}

 @media screen and (max-width :  800px) {
   .MainHomeGrid{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeGrid{
    width: 100%;
    height: 43vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 8px;
}

.HomeGridInner{
    width: 360px;
    height:300px;
}

.HomeGridCube{
    width: 117px;
    height: 115px;
   }
 }
