#userImage{
    border:white 1px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit:cover;
    vertical-align: middle;
    margin-right:10px
}
  #icherishIcon{
    width: 25px;
    height:25px;
    border-radius: 50%;
    border:2px double white; 
    background-color: black;
    object-fit:fill;
    margin-right: 4px;
  }